
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcolumn{
    flex-direction: column;
}

#div1{
    width: 75vw;
    height: 90vh;
    align-self: center;
}

#div2{
    height: 300px;
    margin-top: 10vh;
    
}

#header1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial
}

.coverImage{
    width: 25vw;
    height: auto;
    border: black;
    border-style: solid;
    border-radius: 5%;
    margin: 5%;
    border-width: 15px;
}

.mixtape{
    background-color: cornflowerblue;
    border: black;
    border-style: solid;
    border-width: 25px;
    border-radius: 25px;

}