
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexcolumn{
    flex-direction: column;
}

#div1{
    width: 100vw;
    height: 100vh;
}

#div2{
    height: 300px;
    margin-top: 10vh;
}

#header1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial
}

.coverImage{
    width: 25vw;
    height: auto;
    border: black;
    border-style: solid;
    border-radius: 5%;
    margin: 5%;
}